*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
canvas{
    background-color: #111111;
    border: 1px solid #0f0;
}
h1{
    position: absolute;
    top: 80px;
    color: #0f0;
    justify-content: center;
    font-family: sans-serif;
}